=simple_form_for(@post, html:{multipart:true}) do |f|
	=render 'layouts/error_messages', obj:@post
	=f.input :caption, placeholder:"Add caption...", class:"form-control"
	=f.input :all_tags, placeholder:"Add tags separated with comma", label:"Tags"
	=f.label :image, label:"Upload image"
	=f.file_field :image, class:"form-control"
	%br/
	=f.input :remote_image_url, label:"or add image url...", placeholder:"http://..."
	=f.submit class:"btn btn-secundary"