.card.post-card
	.card-header
		%span.post-username
			=image_tag post.user.avatar.url(:thumb) if post.user.avatar?
			=link_to post.user.username, user_path(post.user)
		%span.post-timestamp
			.small.mute created #{time_ago_in_words(post.created_at)} ago
	=image_tag(post.image.url, class:"img-fluid") if post.image?
	.card-footer
		.fa.fa-heart-o
		%span.likes #{post.get_likes.size} likes
		- if user_signed_in? && current_user.id == post.user.id 
			%span.edit-post
				=link_to edit_post_path(post) do
					.fa.fa-edit
		%p
			=post.caption
		-# %p tags: #tag, #something
		%div{class:"comments_#{post.id}"}
			=render post.comments
	
		%hr/
		.form-inline
			.input-group-addon
				=link_to like_post_path(post), 'data-toggle' => "tooltip", 'data-placement' => "top", 'title' => "Click to like", method: :put do
					.fa.fa-heart-o
			=simple_form_for([post, post.comments.build], remote: true) do |f|
				=f.input :content, class:"form-control add-comment", placeholder:"Add a comment...", label:false, required:true