.container

	.row
		.col-md-6.offset-md-3
			-# .card.card-outline-secondary.mb-3.text-center
			-# 	.card-block.new-post
			-# 		%a{:href => "#"}
			-# 			%span+
			-# 			%p Add post
			
			-@posts.each do |post|
				.card.post-card
					.card-header
						%span.post-username
							=post.user.username
						%span.post-timestamp
							.small.mute created #{time_ago_in_words(post.created_at)} ago
					=image_tag(post.image.url, class:"img-fluid") if post.image?
					.card-footer
						%p
							=post.caption
						%p tags: #tag, #something
						=render post.comments
						%hr/
						%form.form-inline
							.input-group-addon
								%a.fa.fa-heart-o{:href => "#"}
							=simple_form_for([post, post.comments.build]) do |f|
								=f.input :content, class:"form-control add-comment", placeholder:"Add a comment", label:false
								=f.submit