.container

	.row
		.col-md-6.offset-md-3
			-# .card.card-outline-secondary.mb-3.text-center
			-# 	.card-block.new-post
			-# 		%a{:href => "#"}
			-# 			%span+
			-# 			%p Add post
			
			=render @posts