.container

	.row
		.col-md-8.offset-md-2
			-if !current_user.avatar?
				.card.card-outline-secondary.mb-3.text-center
					.card-block.new-post
						=link_to edit_user_registration_path(@user) do
							%span+
							%p Add profile image
			-if current_user.posts.count < 1
				.card.card-outline-secondary.mb-3.text-center
					.card-block.new-post
						=link_to new_post_path(@post) do
							%span+
							%p Add your first post
			
			=render @posts