.card-block.new-post
	color: #218eb3
	background: #ffffff 
	
	a
		&:hover
			text-decoration: none

		span
			color: #218eb3
			font-size: 3rem
			padding: 10px 23px
			border-radius: 50%
			border: 1px solid #218eb3

		p
			margin-bottom: 0
			margin-top: 1rem

.card.post-card
	margin-bottom: 50px	
	&:hover
		.card-footer
			span.edit-post
				transition: opacity ease-in-out .3s
				opacity: 1

	.card-header
		background: white
		span.post-username
			float: left
			a
				font-weight: bold
				color: #025aa5
				font-size: .9em
				&:hover
					text-decoration: none
		span.post-timestamp
			float: right
			color: #8d8d8d
	.card-footer
		background: white
		span.likes
			font-weight: bold
			font-size: .8em
		span.edit-post
			opacity: 0
			float: right
			.fa
				color: black
	
.form-inline
	input.form-control
		border: none
		width: 90%
	::-webkit-input-placeholder
		font-size: 14px!important
		color: #cfcfcf
	:-moz-placeholder
		font-size: 14px!important
		color: #cfcfcf
	.input-group-addon
		background: none
		border: none
		a
			color: #f07499
			&:hover
				text-decoration: none

p
	font-size: .8em
	a.comment-username
		font:
			weight: bold
		color: black

.user-details
	padding-bottom: 50px
	.header-details, .featured-details
		display: flex
		h2
			display: inline-flex
			justify-content: center
			margin-bottom: 0
			margin-right: 20px
	.featured-details
		p
			margin-right: 20px
			padding: 20px 0

.modal-body
	padding: 2px
.modal-footer
	justify-content: flex-start
	span.likes
		font-weight: bold
		font-size: .8em

.comments.user-show-page-modal
	padding: 18px


p.comments
	transition: opacity ease-in-out .3s
	margin-bottom: 5px
	.fa.fa-close
		opacity: 0
	&:hover
		.fa.fa-close
			transition: opacity ease-in-out .3s
			opacity: 1
			color: grey
			float: right

input.form-control.password.required#user_current_password
	border: 1px solid #dba2a2